body {
  background: linear-gradient(#3f3c3c, #ffffff);
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__header > h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.app__dropdown {
  background: linear-gradient(#a8a7a7, #5c5b5b);
  text-shadow: 2px 2px 5px rgb(99, 88, 88);
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  flex-grow: 1;
}
.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
}
